section>div>h1{
  color: rgb(189, 28, 90);
  font-size: 2.5em;
}


div> h2{
  color: rgb(226, 52, 81);
  font-size: 2em;
}

.carousel-inner{
  max-height: 49rem;
}
.container-fluid-mvs {
  background-color: blanchedalmond;
 padding-bottom: 30px;
 padding-left: 30px;
 padding-right: 30px;
 padding-top: 30px;
  margin: auto;
  font-size: 1.5em;
  width: 75%;
}
.contenedor{
  color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
.betyyadi{
  width: 75%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.contenedor2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  text-align: center;
  color: rgb(189, 28, 90);
  font-family: 'Poppins', sans-serif;
}
.vidio{
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.textovideo{
  margin-top: 5em;
}
.btn{
  background-color: white;
  color: rgb(227, 74, 120);
  border-radius: 50px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8em;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}


.btn-primary:hover {
  color: white;
  background-color: #ed7399;
  border-color: #eb6891;
}

.btn-primary:focus, .btn-primary.focus {
  color: #212529;
  background-color: #ed7399;
  border-color: #eb6891;
  box-shadow: 0 0 0 0.2rem rgba(210, 132, 157, 0.5);
}
.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}
.btn-link {
  font-weight: 400;
  color: #F195B2;
  text-decoration: none;
}



@media (max-width: 750px) {
  section>div>h1{
    font-size: 1.7em;
  }
  div> h2{
    font-size: 1.4em;
  }
  .carousel-inner{
    max-height: 18rem;
  }
  .betyyadi{
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  .container-fluid-mvs {
    font-size: 1em;
    width: 90%;
  }
  .contenedor2{
    margin-top: 2.5em;
  }
  .textovideo{
    margin-top: 2em;
  }
  .vidio{
    margin-top: .5em;
    margin-bottom: .5em;
  }


}
