.blanco{
    color: white;
  }
.cuadro{
    width: 80%;
    margin: auto; 
    margin-top: 55px;
    margin-bottom: 55px;
    position: relative;
}
#texto0{
    justify-content: baseline;
    font-size: xx-large;
}
#texto1{
    justify-content: baseline;
    font-size: large;
}
p{
    color: black;
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
}
