main{
    width: 88%;
    margin: 55px auto;
    border-radius: 20px;
}
.contenedor{
    background: #ffe1e6;;
    margin: 45px auto;
    padding: 65px;
}
p{
    padding: 35px;
    text-align: justify;
}
.contenedor .titulo{
    text-align: center;
}
.contenedor .lista{
    margin-top: -30px;
    padding-left: 85px;
    text-align: justify;
}