<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y condiciones</title>
<!-- Google Web Fonts -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">



 <!-- Customized Bootstrap Stylesheet
  <link href="assets/bootstrap-5/css/bootstrap.min.css" rel="stylesheet">  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/terminos.css">

 

</head>
<body>
<!-- Navbar Start -->
    <!-- inicio del header-->
    <nav class="navbar navbar-expand-lg header-nav fixed-top">
        <div class="d-none d-lg-block">
          <ul class="list-group list-group-horizontal " id="si">
            <a href="index.html" class="nav-link1"><img id="home2" src="assets/img/home.png" alt=""></a>
              <li class="list-group-item-none"> <a class="nav-link1"  href="iniciarSes.html"><img id="acceder" src="assets/img/acceer.png" alt=""></a></li>
              <li class="list-group-item-none">  <a class="nav-link1"  href="registro.html"><img id="registro" src="assets/img/registro.png" alt=""></a></li>
            </ul>
      </div>
      </ul>
        <div class="container-fluid flex-row-reverse  " >
          <a class="navbar-brand " href="index.html"> <img id="home" src="assets/img/nofondo 2.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
          </button>
         
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0   flex-fill justify-content-between"  >
              <li class="nav-item" >
                <a class="nav-link d-block d-sm-block d-md-none"  href="iniciarSes.html"><img id="acceder" src="/assets/img/acceer.png" alt=""></a>
              </li>
             
                <a class="nav-link d-block d-sm-block d-md-none"  href="registro.html"><img id="registro" src="/assets/img/registro.png" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobrenosotros.html" id="a">Acerca de nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html" id="a">Contáctanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="productos.html" id="a">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="servicios.html" id="a">Servicios</a>
              </li>
            </ul>
         
        
          </div>
        </div>
      </nav>
  <!-- fin del header -->
  
  
      <!-- Comienza Términos y condiciones -->   

        <main class="contenedor">
          <div class="row justify-content-center">
            <h2 class="titulo"> 
              <strong>Términos y Condiciones de Uso de Sitio Web</strong>
            </h2>
            <br>
            <p>
            Bienvenida/o a <span style="color: rgb(242,43,178) ;">Spa-cio teens</span>. Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web.

            <br><br>
            GENERALES
            <br><br>
            Los términos y condiciones se han redactado en un lenguaje claro y sencillo que permita expresar nuestras responsabilidades, así como la de las personas que hagan uso de nuestro sitio web. En lo sucesivo entiéndase por “nuestro sitio web” a la página de internet www.spa-cioteens.com.mx <!-- corregir URL -->y que, por el simple hecho de navegar en éste, estás aceptando estos términos y condiciones que lo regulan; mismo que ha sido creado para promover a <span style="color: rgb(242,43,178) ;">Spa-cio teens</span>, así como la adquicisión de sus servicios, compra de productos y/o promociones relacionadas. La navegación en nuestro sitio web no implica la obligación o compromiso de compra alguna.
            <br><br>
            DERECHOS RESERVADOS
            <br><br>
            <span style="color: rgb(242,43,178) ;">Spa-cio teens</span> es una marca registrada ante el Instituto Mexicano de la Propiedad Industrial. Para el uso y reproducción total y parcial de la marca, así como los elementos gráficos que aparecen en nuestro sitio web, deberá ser autorizado de forma expresa por parte de <span style="color: rgb(242,43,178) ;">Spa-cio teens</span>. Dicha solicitud deberá enviarse al correo electrónico: info@spacioteens.com <!-- corregir correo electrónico cuando ya se cuente con uno -->
            <br><br>
            ACTUALIZACIÓN DE INFORMACIÓN
            <br><br>
            <span style="color: rgb(242,43,178) ;">Spa-cio teens</span> se reserva el derecho de modificar la información que aparece en nuestro sitio web en cualquier momento y sin necesidad de contar con autorización alguna de terceros.
            <br><br>
            ADQUICISIÓN DE SERVICIOS Y COMPRA DE PRODUCTOS
            <br><br>
            Nuestro sitio web permite la adquicisión de nuestros servicios y compra de nuestros productos. Para contratarlos y/o adquirirlos podrás efectuar la compra con tarjetas de débito y crédito. 
            La información y datos de carácter personal que el usuario facilite al titular en el curso de una transacción en el sitio web, serán tratamos con arreglo a lo establecido en las políticas de protección de datos (<a href="/">Aviso de Privacidad</a>). Al hacer uso del sitio web, el usuario consiente el tratamiento de información, y declara que dicha información o datos que proporciona son veraces. Es decir, sin intención de cometer un fraude. 
            Por lo que, <span style="color: rgb(242,43,178);">Spa-cio teens</span> se reserva el derecho de cancelar cualquier compra que sea considerada como sospechosa y efectuar la devolución total del monto del servicio o producto adquirido en cuestión. Toma en cuenta que una devolución puede tomar más de una semana en reflejarse en el estado de cuenta de tarjeta con la que fue pagada. Para dudas o aclaraciones sobre tu adquicisión, puedes enviarnos un correo a info@spacioteens.com
            <!-- ¿Se deberán crear las "Condiciones generales de venta o contratación en un sitio web"? Si es así, será mencionada, y redirigido, en esta sección. Ejemplo: https://www.wonder.legal/mx/creation-modele/condiciones-generales-venta-contratacion-sitio-web-->
            <br><br>

            PRIVACIDAD
            <br><br>
            La <a href="">Política de Privacidad</a> rige la forma en la que <span style="color: rgb(242,43,178) ;">Spa-cio teens</span> recopila, utiliza, mantiene y divulga la información de los usuarios de nuestro sitio web.
            <br><br>

            INFORMACIÓN DE IDENTIFICACIÓN PERSONAL
            <br><br>
            <span style="color: rgb(242,43,178) ;">Spa-cio teens</span> podrá recopilar la información de identificación personas de los usuarios de nuestro sitio web, en una variedad de maneras, incluyendo, pero no limitando a, cuando los usuarios visitan, se registren, respondan una encuesta, llenen un formulario de nuestro sitio web, y en relación con otras actividades, servicios, características o recursos que ponemos a disposición en nuestro sitio. A los usuarios se les puede requerir información personal, los cuales podrán negarse a suministrar, excepto cuando puedan evitar la participación en determinadas actividades relacionadas con el sitio.

            <br><br>
            IDENTIFICACIÓN NO PERSONAL DE INFORMACIÓN
            <br><br>
            <span style="color: rgb(242,43,178) ;">Spa-cio teens</span> podrá recopilar información de identificación no personal de sus usuarios cuando interactúan con nuestro sitio. La información de identificación no personal puede incluir el nombre del navegador, el tipo de equipo e información técnica sobre los usuarios mediante la conexión a nuestro sitio, tales como el sistema operativo y los proveedores de servicios de Internet utilizados y otra información similar.

            <br><br>
            LAS COOKIES DEL NAVEGADOR WEB
            <br><br>
            Nuestro sitio puede utilizar “cookies” para mejorar la experiencia del usuario. El navegador web del usuario coloca cookies en su disco duro para propósitos de registro y, a veces para rastrear información sobre ellos. El usuario puede optar por configurar su navegador para que rechace las cookies o para que le avise cuando se envíen cookies. Si lo hacen, tenga en cuenta que algunas partes del sitio pueden no funcionar correctamente.
          
            <br><br>
            ¿CÓMO UTILIZAMOS LA INFORMACIÓN RECOPILADA?
            <br><br>
            <span style="color: rgb(242,43,178);">Spa-cio teens</span> puede recopilar y utilizar información personal del usuario para los siguientes fines:
          </p> 
            <ol class="lista">

        <div class="container-fluid">
          <div class="row justify-center">
            <h2>
              <strong>Términos y Condiciones de Uso de Sitio Web</strong>
            </h2>

            Bienvenida/o a <span style="color: rgb(227, 74, 120);">Spa-cio teens</span>. Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web.


            GENERALES

            Los términos y condiciones se han redactado en un lenguaje claro y sencillo que permita expresar nuestras responsabilidades, así como la de las personas que hagan uso de nuestro sitio web. En lo sucesivo entiéndase por “nuestro sitio web” a la página de internet www.spa-cioteens.com.mx <!-- corregir URL -->y que, por el simple hecho de navegar en éste, estás aceptando estos términos y condiciones que lo regulan; mismo que ha sido creado para promover a <span style="color: rgb(227, 74, 120);">Spa-cio teens</span>, así como la adquicisión de sus servicios, compra de productos y/o promociones relacionadas. La navegación en nuestro sitio web no implica la obligación o compromiso de compra alguna.

            DERECHOS RESERVADOS

            <span style="color: rgb(227, 74, 120);">Spa-cio teens</span> es una marca registrada ante el Instituto Mexicano de la Propiedad Industrial. Para el uso y reproducción total y parcial de la marca, así como los elementos gráficos que aparecen en nuestro sitio web, deberá ser autorizado de forma expresa por parte de <span style="color: rgb(227, 74, 120);">Spa-cio teens</span>. Dicha solicitud deberá enviarse al correo electrónico: info@spacioteens.com <!-- corregir correo electrónico cuando ya se cuente con uno -->

            ACTUALIZACIÓN DE INFORMACIÓN

            <span style="color: rgb(227, 74, 120);">Spa-cio teens</span> se reserva el derecho de modificar la información que aparece en nuestro sitio web en cualquier momento y sin necesidad de contar con autorización alguna de terceros.

            ADQUICISIÓN DE SERVICIOS Y COMPRA DE PRODUCTOS

            Nuestro sitio web permite la adquicisión de nuestros servicios y compra de nuestros productos. Para contratarlos y/o adquirirlos podrás efectuar la compra con tarjetas de débito y crédito. 
            La información y datos de carácter personal que el usuario facilite al titular en el curso de una transacción en el sitio web, serán tratamos con arreglo a lo establecido en las políticas de protección de datos (<a href="/">Aviso de Privacidad</a>). Al hacer uso del sitio web, el usuario consiente el tratamiento de información, y declara que dicha información o datos que proporciona son veraces. Es decir, sin intención de cometer un fraude. 
            Por lo que, <span style="color: rgb(227, 74, 120);">Spa-cio teens</span> se reserva el derecho de cancelar cualquier compra que sea considerada como sospechosa y efectuar la devolución total del monto del servicio o producto adquirido en cuestión. Toma en cuenta que una devolución puede tomar más de una semana en reflejarse en el estado de cuenta de tarjeta con la que fue pagada. Para dudas o aclaraciones sobre tu adquicisión, puedes enviarnos un correo a info@spacioteens.com
            <!-- ¿Se deberán crear las "Condiciones generales de venta o contratación en un sitio web"? Si es así, será mencionada, y redirigido, en esta sección. Ejemplo: https://www.wonder.legal/mx/creation-modele/condiciones-generales-venta-contratacion-sitio-web-->


            PRIVACIDAD

            La <a href="">Política de Privacidad</a> rige la forma en la que <span style="color: rgb(227, 74, 120);">Spa-cio teens</span> recopila, utiliza, mantiene y divulga la información de los usuarios de nuestro sitio web.

            INFORMACIÓN DE IDENTIFICACIÓN PERSONAL

            <span style="color: rgb(227, 74, 120);">Spa-cio teens</span> podrá recopilar la información de identificación personas de los usuarios de nuestro sitio web, en una variedad de maneras, incluyendo, pero no limitando a, cuando los usuarios visitan, se registren, respondan una encuesta, llenen un formulario de nuestro sitio web, y en relación con otras actividades, servicios, características o recursos que ponemos a disposición en nuestro sitio. A los usuarios se les puede requerir información personal, los cuales podrán negarse a suministrar, excepto cuando puedan evitar la participación en determinadas actividades relacionadas con el sitio.

            IDENTIFICACIÓN NO PERSONAL DE INFORMACIÓN

            <span style="color: rgb(227, 74, 120);">Spa-cio teens</span> podrá recopilar información de identificación no personal de sus usuarios cuando interactúan con nuestro sitio. La información de identificación no personal puede incluir el nombre del navegador, el tipo de equipo e información técnica sobre los usuarios mediante la conexión a nuestro sitio, tales como el sistema operativo y los proveedores de servicios de Internet utilizados y otra información similar.

            LAS COOKIES DEL NAVEGADOR WEB

            Nuestro sitio puede utilizar “cookies” para mejorar la experiencia del usuario. El navegador web del usuario coloca cookies en su disco duro para propósitos de registro y, a veces para rastrear información sobre ellos. El usuario puede optar por configurar su navegador para que rechace las cookies o para que le avise cuando se envíen cookies. Si lo hacen, tenga en cuenta que algunas partes del sitio pueden no funcionar correctamente.
          

            CÓMO UTILIZAMOS LA INFORMACIÓN RECOPILADA

            <span style="color: rgb(227, 74, 120);">Spa-cio teens</span> puede recopilar y utilizar información personal del usuario para los siguientes fines:
            <ol>

            <li>Para mejorar el servicio al cliente, con base en las necesidades de apoyo y respuesta a las solicitudes de servicio al cliente.</li>
            <li>Para personalizar la experiencia del usuario, la información proporcionada en su conjunto se utilizará para comprender como nuestros usuarios hacen uso de nuestros servicios y recursos ofrecidos en nuestro sitio.</li> 
            <li>Para mejorar nuestro sitio, mejorando nuestros productos y servicios ofrecidos.</li> 
            <li>Para compartir tu información con terceros, con fines de comercialización u otros propósitos.</li> 
            <li>Para ejecutar una función de promoción del sitio, concurso, encuesta u otro, en temas en los que el usuario puede verse interesado.</li> 
          </ol>

           <br><br>
           <p>
            COMPARTIR TU INFORMACIÓN PERSONAL
            <br><br>
            <span style="color: rgb(242,43,178) ;">Spa-cio teens</span> no comparte tu información personal. 
            <br><br>
            LICENCIA
            <br><br>
            A menos que se indique lo contrario, <span style="color: rgb(242,43,178) ;">Spa-cio teens</span> y/o sus licenciatarios les pertenecen los derechos de propiedad intelectual de todo el material en nuestro sitio web.

            Todos los derechos de propiedad intelectual están reservados.
            <br><br>
            No debes:
          </p> 
            <ol class="lista">
            <li>Volver a publicar material.</li> 
            <li>Vender, alquilar u otorgar una sub-licencia de material.</li>
            <li>Reproducir, duplicar o copiar material.</li>
            <li>Redistribuir contenido de <span style="color: rgb(242,43,178) ;">Spa-cio teens</span>, a menos de que el contenido se haga específicamente para la redistribución.</li>
           </ol>
            <!--  SITIOS WEB DE TERCEROS -->

            <br><br>
           <p>
            CAMBIOS EN ESTA POLÍTICA DE PRIVACIDAD
            <br><br>
            <span style="color: rgb(242,43,178) ;">Spa-cio teens</span> tiene la facultad de actualizar esta política de privacidad en cualquier momento, misma que se indicara en la página web. Exhortamos a nuestros usuarios a visitar la página de <span style="color: rgb(242,43,178) ;">Spa-cio teens</span> para mantenerse informados, acerca de cómo estamos ayudando a proteger la información personal que recopilamos. Reconoces y aceptas que es tu responsabilidad revisar esta política de privacidad periódicamente y tomar conciencia de las modificaciones.
            <br><br>
            ACEPTACIÓN DE ESTOS TÉRMINOS
            <br><br>
            Al usar este sitio, expresas tu aceptación de esta política y términos de servicio. Si no estás de acuerdo con esta política, por favor no utilices nuestro Sitio. El continuar usando el sitio tras la publicación de cambios a esta política será considerado como tu aceptación ficta de dichos cambios.
            <br><br>
            Si tienes alguna duda respecto a estos Términos y Condiciones, envíanos un correo a: info@spacioteens.com
            <br>
          </p>
            <p style="text-align: right; margin-bottom: -30px;">Última actualización, 08 de Diciembre 2022.</p> 
          </div>
        </main>

            COMPARTIR TU INFORMACIÓN PERSONAL

            <span style="color: rgb(227, 74, 120);">Spa-cio teens</span> no comparte tu información personal. 

            LICENCIA

            A menos que se indique lo contrario, <span style="color: rgb(227, 74, 120);">Spa-cio teens</span> y/o sus licenciatarios les pertenecen los derechos de propiedad intelectual de todo el material en nuestro sitio web.

            Todos los derechos de propiedad intelectual están reservados.

            No debes:
            <ol>
            <li>Volver a publicar material.</li> 
            <li>Vender, alquilar u otorgar una sub-licencia de material.</li>
            <li>Reproducir, duplicar o copiar material.</li>
            <li>Redistribuir contenido de <span style="color: rgb(227, 74, 120);">Spa-cio teens</span>, a menos de que el contenido se haga específicamente para la redistribución.</li>
           </ol>
            <!--  SITIOS WEB DE TERCEROS -->


            CAMBIOS EN ESTA POLÍTICA DE PRIVACIDAD

            <span style="color: rgb(227, 74, 120);">Spa-cio teens</span> tiene la facultad de actualizar esta política de privacidad en cualquier momento, misma que se indicara en la página web. Exhortamos a nuestros usuarios a visitar la página de <span style="color: rgb(227, 74, 120);">Spa-cio teens</span> para mantenerse informados, acerca de cómo estamos ayudando a proteger la información personal que recopilamos. Reconoces y aceptas que es tu responsabilidad revisar esta política de privacidad periódicamente y tomar conciencia de las modificaciones.

            ACEPTACIÓN DE ESTOS TÉRMINOS

            Al usar este sitio, expresas tu aceptación de esta política y términos de servicio. Si no estás de acuerdo con esta política, por favor no utilices nuestro Sitio. El continuar usando el sitio tras la publicación de cambios a esta política será considerado como tu aceptación ficta de dichos cambios.

            Si tienes alguna duda respecto a estos Términos y Condiciones, envíanos un correo a: info@spacioteens.com

            Última actualización, 08 de Diciembre 2022.
          </div>
        </div>

      <!-- Termina Términos y condiciones -->
  
      <!-- Footer Start -->
      <div class="container-fluid abajo text-center " >
        <div class="row ">
          <div id="logo" >
            <a class="navbar-brand "  href="#"> <img class="home1" id="home"src="assets/img/nofondo 2.png" alt=""></a>
        </div>
        <div class="col-md-6  mapa d-none d-lg-block">
          <div id="ac" >
            <h1 id="sede" >Nuestra Sede</h1>
            <h3 id="direccion" >Calzada del Federalismo Norte #3145 local 5.<br>Zapopan, Jal.</h3>
        </div>
      
        <div id="mapa" >
            <iframe class="res"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3731.6865854972293!2d-103.35799607756965!3d20.722947841912855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b028afd25fcf%3A0xe365545c44c348c9!2sCalz%20del%20Federalismo%20Nte%203145%2C%20Atemajac%20del%20Valle%2C%2045130%20Zapopan%2C%20Jal.!5e0!3m2!1ses!2smx!4v1670347051845!5m2!1ses!2smx"     style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
        </div>
        </div>
        
        <div class="col-md-2 legal ">
          <h2 class="h22"> Legal</h2>
          <a href="terminosCondiciones.html">Términos y condiciones</a> <br>
          <a href="avisoPrivacidad.html">Aviso de privacidad</a>
        </div>
      
        <div class="col-md-2 contacto" >
          <h2 class="h22">Contacto</h2>
          <a href="https://instagram.com/spa_cioteens?igshid=YmMyMTA2M2Y=">Instagram</a> <br>
          <a href="https://wa.me/3314654168">Whatsapp</a> <br>
          <a href="https://www.facebook.com/profile.php?id=100063723231847">Facebook</a> <br>
          <a href="tel:3312024408">Teléfono</a>
      
        </div>
      
       <div class="col-md-2  conocenos">
          <h2 class="h22">Conócenos</h2>
          <a href="sobrenosotros.html">Acerca de nosotros</a> <br>
          <a href="servicios.html">Servicios</a> <br>
          <a href="productos.html">Productos</a> <br>
          <a href="registro.html">Registro</a>
        </div>
      
        </div>
      <br>
       <a href="#" > Spa-cio teens © Todos los derechos reservados.</a>
      </div>
      <!-- Footer End -->

  
      <!-- JavaScript Libraries 
      <script src="./assets/bootstrap-5/js/bootstrap.min.js"></script>
      <script src="scss/bootstrap/js/bootstrap.min.js"></script> -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
      <!-- <script src="./assets/js/contacto.js"></script> -->
      <!-- Template Javascript -->


</body>
</html>